body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

    color: rgb(70, 63, 58);

    
}

a {
    text-decoration: none;
    color: inherit;
}

/*media 1000px以下*/

@media (max-width: 1000px) {
    .flexbox {
        display: flex;
        flex-direction: column;
    }

    .flexbox-growth {
        display: flex;
        flex-direction: column;
    }

}


/*スマホサイズ*/

@media (max-width: 600px) {


    .nav-content {
        display: flex;
        flex-direction: row;

        justify-content: space-evenly;

        margin-right: 0px;

        font-size: 13px;
    }

    .hero-title,.hero-first-sentence,.hero-second-sentence,.hero-third-sentence {
        width: 90%;

        text-align: center;

    }

    .hero-title {
        font-size: 60px;
    }

    .hero-first-sentence,.hero-second-sentence,.hero-third-sentence {
        font-size: 15px;

    }

    .body-title {
        font-size: 15px;
    }

    .body-subtitle {
        font-size: 20px;
    }

    .tips-picture {
        margin-right: 0;

        margin-bottom: 14px;
    }

    .text-container {
        width: 80%;
    }

    .bulb {
        width: 20px;
        margin-right: 5px;
    }

    .flexbox-second .tips {
        font-size: 13px;
    }

    .tips-text {
        font-size:23px;

    
    }

    .button {
        font-size: 13px;
    }

    .beach-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .growth {
        font-size: 30px;
    }
    


    .youtube-vid {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9比率 = 9/16*100 */
  height: 0;
  overflow: hidden;
  border-radius: 16px; /* お好みで角を丸く */
}

.youtube-frame {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
}